.zi-avatar
  display inline-block
  overflow hidden
  width rem(30)
  height rem(30)
  border-radius 50%
  border 1px solid #eee
  vertical-align top

  &+&
    margin-left 0

  &.small
    width rem(20)
    height rem(20)

  &.big
    width rem(60)
    height rem(60)

  &.huge
    width rem(90)
    height rem(90)

  &.stacked
    &+&
      margin-left rem(-10)

  &.square
    border-radius rem(5)










