.zi-badge
  padding: 0 4px
  background-color var(--geist-foreground)
  color: var(--geist-background)
  display: inline-block
  font-size rem(10)
  font-weight bold
  line-height rem(15)
  min-width: rem(15)
  border-radius 8px
  text-align center

  &.success
    background-color var(--geist-success)

  &.warning
    background-color var(--geist-warning)

  &.error, &.danger
    background-color var(--geist-error)

  &.dot
    width rem(6)
    height rem(6)
    border-radius 50%
    padding 0
    min-width unset
    overflow hidden
    line-height 0
    color transparent
