.zi-badge
  padding: 0 4px
  background-color black
  color: #fff
  display: inline-block
  font-size rem(10)
  font-weight bold
  line-height rem(15)
  min-width: rem(15)
  border-radius 8px
  text-align center

  &.red
    background-color red

