.zi-badge
  padding: 0 4px
  background-color black
  color: #fff
  display: inline-block
  font-size rem(10)
  font-weight bold
  line-height rem(15)
  min-width: rem(15)
  border-radius 8px
  text-align center

  &.red
    background-color red

  &.success
    background-color $STATUS_SUCCESS

  &.warning
    background-color $STATUS_WARNING

  &.error, &.danger
    background-color $STATUS_ERROR

