pre
  background-color transparent
  border 1px solid var(--accents-2)
  border-radius var(--geist-radius)
  padding calc(var(--geist-gap) * 0.75) var(--geist-gap)
  margin var(--geist-gap) 0
  font-family var(--font-mono)
  white-space pre
  overflow auto
  line-height 1.5
  text-align left
  font-size 0.8125rem
  -webkit-overflow-scrolling touch

  &.zi-bash:before
    content '$ '

  span, p
    font-size inherit
    color inherit
    margin 0

  code
    color var(--geist-foreground)
    font-size 0.8125rem
    line-height 1.25rem
    white-space pre

    &:before, &:after
      display none

  &::-webkit-scrollbar
    display none
    width 0
    height 0
    background transparent

code
  color var(--geist-code)
  font-family var(--font-mono)
  font-size 0.9em
  white-space pre-wrap

  &:before,
  &:after
    content: '\`'

.zi-bash
  pre:before
    content '$ '
