.zi-fieldset
  background-color var(--geist-background)
  border 1px solid var(--accents-2)
  border-radius var(--geist-radius)
  overflow hidden

.zi-fieldset-content
  background-color var(--geist-background)
  font-size rem(13)
  padding rem(20)

  h1
    font-size rem(20)
  h2, h3, h4, h5, h6, p, span
    font-size rem(13)
  p, div, h1, h2, h3, h4, h5, h6
    margin-top 0
    line-height rem(20)
    margin-bottom rem(14)

  *:first-child
    margin-top 0

  *:last-child
    margin-bottom 0

.zi-fieldset-footer
  background-color var(--accents-1)
  border-top 1px solid var(--accents-2)
  color var(--accents-6)
  display flex
  justify-content space-between
  align-items center
  font-size 0.875rem
  padding var(--geist-gap-half) var(--geist-gap)
  box-sizing border-box

  p, span, div
    font-size inherit
    margin 0
