.zi-fieldset
  background-color white
  border 1px solid #eaeaea
  border-radius 5px
  margin-bottom rem(50)


.zi-fieldset-content
  background-color white
  padding rem(20)

.zi-fieldset-footer
  background-color #fafafa
  border-top 1px solid #eaeaea
  color #444
  display flex
  justify-content space-between
  align-items center
  font-size rem(12)
  padding rem(15)
  box-sizing border-box

.disabled .zi-fieldset, .disabled .zi-fieldset-content, .disabled .zi-fieldset-footer
  background-color #fafafa
  color #999
