.zi-footnote
  color #666
  transition all .2s ease

  &:hover
    text-decoration underline dashed
    color black
    i
      border-color black

  i
    margin-left 4px
    margin-right 5px
    color inherit
    border 1px solid #999
    border-radius 50%
    transition all .1s ease
    font-size .8em



