.zi-main
  background-color #fafafa
  min-height 100%

.zi-center
  text-align center

  img
    margin 0 auto

  blockquote
    margin .9rem auto

.zi-layout
  margin 0 auto
  padding rem(50) 0
  box-sizing border-box

  &:before
    position fixed
    content ''
    left -500px
    right -500px
    top -500px
    bottom -500px
    background-color #fafafa
    z-index -1

.zi-layout
  padding 0 var(--geist-gap)
  margin 0 auto


