.zi-note
  padding var(--geist-gap-half) var(--geist-gap)
  font-size rem(14)
  line-height 1.8
  border 1px solid var(--accents-2)
  background-color var(--geist-background)
  border-radius var(--geist-radius)

  .zi-note-type
    text-transform uppercase
    user-select none
    line-height 1.5
    padding-right var(--geist-gap-quarter)
    font-weight 600
    font-size rem(14)

  &.hint, &.success
    border-color var(--geist-success)
    >.zi-note-type
      color var(--geist-success)

  &.alert, &.warning
    border-color var(--geist-warning)
    >.zi-note-type
      color var(--geist-warning)

  &.error, &.danger
    border-color var(--geist-error)
    >.zi-note-type
      color var(--geist-error)












