.zi-note
  padding rem(16) rem(24)
  font-size rem(14)
  line-height 1.8
  border 1px solid #ddd
  background-color white
  border-radius 4px

  >.zi-note-type
    text-transform uppercase
    font-weight 500

  &.hint
    border-color #067df7
    >.zi-note-type
      color #067df7

  &.alert, &.warning
    border-color #f48121
    >.zi-note-type
      color #f48121

  &.error
    border-color #ff001f
    >.zi-note-type
      color #ff001f












