.zi-pagination-container
  width 100%
  display inline-flex
  align-items center

.zi-page-pointer
  cursor pointer
  min-width rem(28)
  height rem(25)
  line-height rem(25)
  text-align center
  font-size rem(16)
  &.disabled
    cursor not-allowed
    color #666
    :hover
      color #666
  :hover
    color #409eff

.zi-pagination
  display inline-flex
  :hover
    color #409eff
    font-size 16px
    .dot
      background-color #409eff
      margin rem(2)

.zi-page-num
  margin 0 rem(8)
  text-align center
  cursor pointer
  user-select none
  min-width rem(28)
  height rem(25)
  line-height rem(25)

.zi-page-jump
  margin-left rem(15)

.zi-page-pager
  height rem(25)
  line-height rem(25)
  border-top 1px solid #666
  border-left none
  border-right none
  border-bottom 1px solid #666
  width rem(30)
  text-align center
  cursor pointer
  margin-left rem(4)
  &:focus
    border-color #409eff

.dot
  display inline-block
  width 4px
  height 4px
  border-radius 50%
  background-color #444
  margin rem(2) rem(1)

.active
  color #409eff
