.zi-pagination-container
  width 100%

.zi-pagination
  display inline-flex
  :hover
    color #409eff

.zi-num
  margin 0 5px
  padding 3px 3px
  cursor pointer
  user-select none

.active
  color #409eff

