.zi-progress-container
  width rem(330)

.zi-progress-bar
  display inline-flex
  width 100%
  justify-content space-between
  align-items center
  .zi-progress
    width rem(300)
    height rem(6)
    background-color #ebeef5
    border-radius rem(4)
    margin-right rem(10)
    .zi-progress__inner
      width 0
      height rem(6)
      background-color #000
      border-radius 4px

.zi-progress__text
  border-radius rem(16)
  background #0076ff
  padding rem(2) rem(5)
  color #fff
  font-size rem(12)
  font-weight bolder
