.zi-rate
  height rem(20)
  line-height 1

  &.disabled
    i
      cursor default

.zi-rate-star
  width auto
  height rem(18)
  cursor pointer
  color #999
  font-size rem(18)
  padding-right rem(8)
  transition color .12s ease-in

  &:not(.active):not(.disabled):hover
    color #222

  &:not(.active):not(.disabled).hover
    color #222

  &.active
    color #f5a623


