.zi-select
  color black
  height rem(40)
  border 1px solid #eaeaea
  box-shadow none
  background transparent
  background-image none
  line-height rem(40)
  font-size rem(14)
  margin-right rem(-20)
  appearance none
  -webkit-appearance none
  -moz-appearance none
  width initial
  padding 0 rem(36) 0 rem(16)
  text-transform none

  &.small
    height rem(24)
    line-height rem(24)
    font-size rem(12)


