.zi-select
  color black
  height 100%
  border none
  box-shadow none
  background transparent
  background-image none
  line-height rem(40)
  font-size rem(14)
  margin-right rem(-20)
  width calc(100% + 20px)
  padding 0 76px 0 16px
  text-transform none

