table
  border-collapse separate
  border-spacing 0
  width 100%

  thead th td
    height rem(40)
  tbody tr td
    height rem(50)

  th, td
    padding 0 rem(10)
    text-align left

  th
    height rem(40)
    color var(--accents-5)
    font-size rem(14)
    font-weight 400
    letter-spacing 0
    background var(--accents-1)
    border-bottom 1px solid var(--accents-2)
    border-top 1px solid var(--accents-2)

  th:nth-child(1)
    border-bottom 1px solid var(--accents-2)
    border-left 1px solid var(--accents-2)
    border-radius 4px 0 0 4px
    border-top 1px solid var(--accents-2)

  th:last-child
    border-bottom 1px solid var(--accents-2)
    border-radius 0 4px 4px 0
    border-right 1px solid var(--accents-2)
    border-top 1px solid var(--accents-2)

  tr td
    border-bottom 1px solid var(--accents-2)
    color var(--accents-6)
    font-size rem(14)
    height rem(40)

  & td:nth-child(1)
    border-left 1px solid transparent
