.zi-fade-in-enter-active,
.zi-fade-in-leave-active
  transition opacity 0.2s ease 0s, margin-top 0.2s ease 0s

.zi-fade-in-enter,
.zi-fade-in-leave,
.zi-fade-in-leave-active
  opacity 0
  margin-top 5px

