$COLOR_DRAK = #000

$COLOR_WHITE = #fff

$COLOR_LIGHT = #fff

$COLOR_BLUE = #0076ff

$COLOR_MAGENTA = #ff0080

$COLOR_ORANGE = #f5a623

$COLOR_YELLOW = #f8e71c

$COLOR_GREEN = #50e3c2

$COLOR_GRAY = #fafafa

$COLOR_GRAY_1 = #fafafa

$COLOR_GRAY_2 = #eaeaea

$COLOR_GRAY_3 = #999

$COLOR_GRAY_4 = #666

$COLOR_GRAY_5 = #333

$COLOR_SUB_TITLE = #999

$COLOR_COMMENT = #999

$COLOR_LABEL = #888

$COLOR_CAPTION = #999

