doctype html
html(lang="en")
  head
    meta(name='format-detection' content='telephone=no, email=no')
    meta(name='viewport' content='initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, viewport-fit=cover')
    title zeit-style
    link(rel='stylesheet' href='./resources/prism-ghcolors.css')
  body
    .zi-main.zi-layout
      include summary
      include basics/index
      //.card
      //    button.btn.warning.shadow check
      //.card
      //    span.checkbox.checked.disabled
      //.card
      //    .more
      //        button.btn.circular show more
      //            i.zi-up.suffix
      //.card
      //    img.square.avatar(src='https://zeit.co/api/www/avatar/?u=timothy&s=90')
      //    img.avatar(src='https://zeit.co/api/www/avatar/?u=timothy&s=90')


    script(src='./resources/prism.js' async)

