doctype html
html(lang="en")
  head
    meta(name='format-detection' content='telephone=no, email=no')
    meta(name='viewport' content='initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, viewport-fit=cover')
    title zeit-style
    link(rel='stylesheet' href='./resources/prism-ghcolors.css')
  body
    .zi-main.zi-layout.ex-layout
      include side
      .ex-content
        include summary
        include basics/index
        include components/index

    script(src='./resources/prism.js' async)
    script(src='https://www.googletagmanager.com/gtag/js?id=UA-110371817-2' async)
    script.
      (function(){
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date())
        gtag('config', 'UA-110371817-2')
      })()
