.ex-side
  .ex-side-content
    p.zi-title Start
    ul
      li #[a(href='#about') About]
      li #[a(href='#usage') Usage]
      li #[a(href='#headings') Headings]
      li #[a(href='#lists') Lists]
    br
    p.zi-title Components
      ul
        li #[a(href='#cards') Cards]
        li #[a(href='#paragraphs') Paragraphs]
        li #[a(href='#avatars') Avatars]
        li #[a(href='#badges') Badges]
        li #[a(href='#buttons') Buttons]
        li #[a(href='#checkbox') Checkbox]
        li #[a(href='#code') Code]
        li #[a(href='#collapse') Collapse]
        li #[a(href='#fieldsets') Fieldsets]
        li #[a(href='#inputs') Inputs]
        li #[a(href='#note') Note]
        li #[a(href='#select') Select]
        li #[a(href='#more') More]
        li #[a(href='#table') Table]
        li #[a(href='#toggle') Toggle]

