h2#about Geist Style
p Geist style is a modern Css library,
  |  you can fork it on #[a(href='https://github.com/geist-org/style' target="_black") GitHub].
  br
  | Here is the new style version of #[b Geist UI], we've removed a lot of sections that didn't perform well under plain style files.
  | Of course if you are interested please see the following related projects:
ul
  li
    a(href="https://github.com/geist-org/react") Geist React (React components)
  li
    a(href="https://github.com/geist-org/typography") Geist Typography (smaller text styles)

br
h3#usage Usage
