h2 Geist Style
p Geist style is a modern css library.
  | Your can fork it on #[a(href='https://github.com/geist-org/style' target="_black") GitHub].
  br
  |#[b There's only styles here.] If you're looking for a front-end library, please reference
  |#[a(href='https://github.com/geist-org/react' target="_black") Geist React].
h2#about Install
pre.zi-bash npm i @geist-ui/style
br

h2#usage Usage
