h2 Zeit Style
p Zeit style is a modern css library, originating from&nbsp
  | #[a(href='https://zeit.co/design' target='_blank') Zeit Design].&nbsp
  | Your can fork it on #[a(href='https://github.com/zeit-ui/zeit-style' target="_black") GITHUB].
  br
  |#[b There's only styles here.] If you're looking for a front-end library, please reference&nbsp
  |#[a(href='https://github.com/zeit-ui/vue' target="_black") zeit-ui/vue].
h2#about About
p The design of the Zeit is concise and aesthetic feeling,&nbsp
  |this is an important reason for popular of Zeit. Now you can use them through the #[b Zeit Style].
  | #[br]
  | Try to install:
pre.zi-bash npm i @zeit-ui/style
br

h2#usage Usage
