h2 Zeit Style
p Zeit style is a modern css library, originating from #[a(href='https://zeit.co/design/' target='_blank') Zeit Design]. your can fork it on #[a(href='') GITHUB].
h2#about About
p The design of the Zeit is concise and aesthetic feeling, this is an important reason for popular of Zeit. Now you can use them through the #[b Zeit Style].
  | #[br]
  | try to install:
pre.zi-bash npm i @zeit-ui/style
br

h2#usage Usage
