h2 Zeit Style
  p.zi-comment Zeit style is a modern css library, originating from #[a(href='https://zeit.co' target='_blank') Zeit].
    | your can fork it on #[a(href='') github]
br
h2 About
p The design of the Zeit is concise and aesthetic feeling, this is an important reason for popular of Zeit. Now you can use them through the #[b Zeit Style].
  | #[br]
  | try to install:
pre.zi-bash npm i zeit-style
br

h2 Usage
