rem(input)
  input / 16 rem

layout(size = '')
  if (size == xs)
    @media only screen and (max-width 650px)
      {block}
  else if (size == sm)
    @media screen and (min-width 650px) and (max-width 900px)
      {block}
  else if (size == md)
    @media screen and (min-width 900px) and (max-width 1280px)
      {block}
  else if (size == lg)
    @media screen and (min-width 1280px) and (max-width 1920px)
      {block}
  else
    @media only screen and (max-width 1920px)
      {block}


