h1
  font-size rem($FONT_SIZE_H1)
  font-weight 400

h2
  font-size rem($FONT_SIZE_H2)
  font-weight 400

h3
  font-size rem($FONT_SIZE_H3)
  font-weight bold

h4, h5, h6
  font-size rem($FONT_SIZE_H4)
  font-weight bold

::selection
  background-color #79ffe1
  color #000

