p
  font-size rem(14)
  font-weight 400
  margin rem(14) 0 rem(20)
  line-height rem(24)

  &.zi-bold
    font-weight 600

b
  font-weight 600

span
  font-size inherit
  color inherit
  font-weight 400

a
  font-size inherit

  &:hover
    text-decoration underline

blockquote
  margin .9rem 0
  padding 0
  color #666
  position: relative
  width: max-content
  padding-left 8px

  &::before
    position absolute
    top 50%
    left 0
    transform translateY(-50%)
    display inline-block
    content ''
    margin-right 5px
    height 10px
    width 5px
    background-color rgb(153, 153, 153)

.zi-dark span
  color #aaa

.zi-subtitle, .zi-subheading
  font-size rem($FONT_SIZE_SUB_TITLE)
  color $COLOR_SUB_TITLE

.zi-comment
  font-size rem($FONT_SIZE_COMMENT)
  color $COLOR_COMMENT

.zi-title
  font-size rem($FONT_SIZE_LABEL)
  color $COLOR_LABEL
  text-transform uppercase
  margin-bottom rem(15)
  font-weight 400
  cursor default
  letter-spacing 1.3px

.zi-caption
  color $COLOR_CAPTION
  font-size rem(12)
  line-height 2
  margin rem(14) 0 rem(40) 0
  text-align center


