p
  font-size rem(14)
  font-weight 400
  margin rem(14) 0 rem(20)
  line-height rem(24)

  &.bold
    font-weight 600

b
  font-weight 600

span
  font-size inherit
  color inherit
  font-weight 400

a
  font-size inherit

.zi-dark span
  color #aaa

.zi-subtitle
  font-size rem($FONT_SIZE_SUB_TITLE)
  color $COLOR_SUB_TITLE

.zi-comment
  font-size rem($FONT_SIZE_COMMENT)
  color $COLOR_COMMENT
  margin-bottom rem(20)


