.zi-dark-theme
  background-color black
  color white

  html, body
    background-color black
    color #a4a4a4

  .zi-main, .zi-layout
    background-color black

    &:before
      position fixed
      top -100px
      left -100px
      right -100px
      bottom -100px
      background-color black
      content ''
      z-index -1

  a
    color #dadada
    font-weight 700
    transition all .16s ease
    &:hover
      color white

  p, ul, li, pre, pre code
    color rgb(235, 235, 235)

  blockquote
    color #bdbdbd

  h4, h5, h6
    color #eaeaea

  b, h1, h2, h3
    color #f1f3f4

  pre
    border-color #5E6064

  .zi-card
    border none
    box-shadow: rgb(65, 65, 65) 0px 0px 0px 1px
    background-color black

    &:hover
      box-shadow: rgb(51, 51, 51) 0px 0px 0px 1px

  .zi-note
    background-color black
    color #eaeaea

  .zi-note-type
    color #eaeaea

  table
    th
      background-color transparent
      color #ddd
      border-color #8a8a8a

    th:nth-child(1), th:last-child
      border-color #8a8a8a

    tr td
      color #aaa
      border-bottom-color #9a9a9a

