.zi-dark-theme
  background-color #111
  color white

  html, body
    background-color #111
    color #fff

  .zi-main, .zi-layout
    background-color #111

    &:before
      position fixed
      top -100px
      left -100px
      right -100px
      bottom -100px
      background-color black
      content ''
      z-index -1

  a
    color #dadada
    font-weight 700
    transition all .16s ease
    &:hover
      color white

  p, ul, li, pre, pre code
    color rgb(235, 235, 235)

  blockquote
    color #bdbdbd

  h4, h5, h6
    color #eaeaea

  b, h1, h2, h3
    color #f1f3f4

  pre
    border-color #333
    background-color black

  .zi-card, .zi-example
    border none
    color #fff
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 5px 0px
    background-color black

    &:hover
      box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 5px 0px

    pre
      background-color black

  .zi-note
    background-color black
    color #eaeaea

  .zi-note-type
    color #eaeaea

  table
    th
      background-color transparent
      color #ddd
      border-color #8a8a8a

    th:nth-child(1), th:last-child
      border-color #8a8a8a

    tr td
      color #aaa
      border-bottom-color #9a9a9a

