br
h3#avatars Avatars
p.zi-comment Default avatars
.zi-card
  img.small.zi-avatar(src='./assets/avatar.png')
  img.zi-avatar(src='./assets/avatar.png')
  img.big.zi-avatar(src='./assets/avatar.png')
  img.huge.zi-avatar(src='./assets/avatar.png')

  p
    img.zi-avatar(src='./assets/avatar.png')
    img.zi-avatar(src='./assets/avatar.png')
    img.zi-avatar(src='./assets/avatar.png')
    span.zi-avatar
      img(src='./assets/avatar.png')

br
p.zi-comment Square avatars
.zi-card
  img.square.zi-avatar(src='./assets/avatar.png')

br
p.zi-comment Stacked Avatars
.zi-card
  img.stacked.zi-avatar(src='./assets/avatar.png')
  img.stacked.zi-avatar(src='./assets/avatar.png')
  img.stacked.zi-avatar(src='./assets/avatar.png')
  img.stacked.zi-avatar(src='./assets/avatar.png')

br
p.zi-comment Text Avatars
.zi-card
  span.zi-avatar
    span.zi-avatar-string USER
  span(style='margin-right: 5px')
  span.zi-avatar.single
    span.zi-avatar-string L

br
.zi-example
  span html code:
  br
  :marked
    ```html
    <img class="zi-avatar small" src="...">
    <img class="zi-avatar" src="...">
    <img class="zi-avatar big" src="...">
    <img class="zi-avatar huge" src="...">

    <img class="zi-avatar square" src="...">

    <img class="zi-avatar stacked" src="...">
    <img class="zi-avatar stacked" src="...">

    <!--include img element-->
    <span class="zi-avatar"><img src="..."></span>

    <!--include text-->
    <span class="zi-avatar">
      <span class="zi-avatar-string">USER</span>
    </span>
    <span class="zi-avatar single">
      <span class="zi-avatar-string">L</span>
    </span>
    ```

