br
h3#badges Badges
p Basic badges
.zi-card
  p Default badges
  p
    span.zi-badge(style='margin-right: 10px') 5
    span.zi-badge(style='margin-right: 10px') 50
    span.zi-badge(style='margin-right: 10px') 100
br
.zi-example
  span html code:
  :marked
    ```html
    <span class="zi-badge">5</span>
    ```

br
p Status
.zi-card
  p
    span.zi-badge(style='margin-right: 10px') 5
    span.zi-badge.success(style='margin-right: 10px') 50
    span.zi-badge.warning(style='margin-right: 10px') 50
    span.zi-badge.error(style='margin-right: 10px') 50

br
.zi-example
  span html code:
  :marked
    ```html
    <span class="zi-badge">5</span>
    <span class="zi-badge success">50</span>
    <span class="zi-badge warning">50</span>
    <span class="zi-badge error">50</span>
    ```
