br
h3#badges Badges
.zi-card
  p.zi-comment Default badges
  p
    span.zi-badge(style='margin-right: 10px') 5
    span.zi-badge(style='margin-right: 10px') 50
    span.zi-badge(style='margin-right: 10px') 100
  br
  p.zi-comment Red badges
  p
    span.zi-badge.red(style='margin-right: 10px') 5
    span.zi-badge.red(style='margin-right: 10px') 50
    span.zi-badge.red(style='margin-right: 10px') 100

br
.zi-example
  span html code:
  br
  :marked
    ```html
    <span class="zi-badge">5</span>
    <span class="zi-badge red">5</span>
    ```

