br
h3#buttons Buttons
p Basic button
.zi-card
  p Default
  P
    button.zi-btn Default
  br
  p Primary
  p
    button.zi-btn.primary Primary

br
.zi-example
  span html code:
  :marked
    ```html
    <button class="zi-btn">Default</button>
    <button class="zi-btn primary">Primary</button>
    ```


br
p Button Type
.zi-card
  p Default button
  div
    .zi-btn(style='margin-right: 15px') ACTION
    .zi-btn.success(style='margin-right: 15px') SUCCESS
    .zi-btn.warning(style='margin-right: 15px') WARNING
    .zi-btn.danger(style='margin-right: 15px') DANGER
  br

  p Big button
  div
    .zi-btn.big(style='margin-right: 15px') ACTION
  br

  p Small button
  div
    .zi-btn.small(style='margin-right: 15px') ACTION
  br

  p Mini button
  div
    .zi-btn.mini(style='margin-right: 15px') ACTION

br
.zi-example
  span html code:
  :marked
    ```html
    <button class="zi-btn">ACTION</button>
    <button class="zi-btn success">ACTION</button>
    <button class="zi-btn warning">ACTION</button>
    <button class="zi-btn danger">ACTION</button>

    <button class="zi-btn big">ACTION</button>
    <button class="zi-btn small">ACTION</button>
    <button class="zi-btn mini">ACTION</button>
    ```

br
p Status
.zi-card
  p Disabled button
  p
    button.zi-btn.disabled Disabled
  p(style='margin-top: 10px')
    button.zi-btn.small.disabled Disabled

  br
  p Abort button
  p
    button.zi-btn.abort Abort
  p(style='margin-top: 10px')
    button.zi-btn.small.abort Abort

  br
  p Shadown button
  p
    button.zi-btn.shadow Shadow
  p(style='margin-top: 10px')
    button.zi-btn.shadow.success Shadow
  p(style='margin-top: 10px')
    button.zi-btn.small.shadow Shadow

  br
  p Loading button
  p
    button.zi-btn.loading
      span.zi-loading-shim
        i
        i
        i

br
.zi-example
  span html code:
  :marked
    ```html
    <button class="zi-btn disabled">Disabled</button>
    <button class="zi-btn abort">Abort</button>
    <button class="zi-btn shadow">Shadow</button>
    <button class="zi-btn success shadow">Shadow</button>
    <button class="zi-btn success shadow small">Shadow</button>

    <button class="zi-btn loading">
      <span class="zi-loading-shim">
        <i></i><i></i><i></i>
      </span>
    </button>
    ```

br
p Auto width
.zi-card
    p
      button.zi-btn.auto auto width

br
.zi-example
  span html code:
  :marked
    ```html
    <button class="zi-btn auto">auto width</button>
    ```
