br
h3#checkbox Checkbox
p.zi-comment Checkbox component just add style, #[b it's not Checkbox element].
  br
  |you can append hidden input to mock checkbox element action.
.zi-card
  p.zi-comment Normal
  p
    span.zi-checkbox

  p.zi-comment Checked
  p
    span.zi-checkbox.checked

  p.zi-comment Disabled
  p
    span.zi-checkbox.disabled

  p.zi-comment Checked disabled
  p
    span.zi-checkbox.disabled.checked

br
.zi-example
  span html code:
  br
  :marked
    ```html
    <span class="zi-checkbox"></span>
    <span class="zi-checkbox checked"></span>
    <span class="zi-checkbox disabled"></span>
    <span class="zi-checkbox checked disabled"></span>
    ```

