br
h3#code Code

.zi-card
  p Inline code
  p
    code TypeScript
  br

  p Block code
  pre const isNaN = val => Number.isNaN(val)
  br

  p Bash code
  pre.zi-bash npm i @geist-ui/style
  br

  p Dark style
    pre.zi-dark Output: 1, Status: ok

br
.zi-example
  span html code:
  :marked
    ```html
    <code>TypeScript</code>
    <pre>const isNaN = val => Number.isNaN(val)</pre>
    <pre class="zi-bash">npm i @geist-ui/style</pre>
    <pre class="zi-dark">Output: 1, Status: ok</pre>
    ```
