br
h3 Collapse
p.zi-comment Collapse is only a mock element, you need to implement action by JavaScript.
.zi-card
  br
  .zi-collapse
    .zi-collapse-title
      h3 Question A
      i.zi-icon-minus
    p.zi-collapse-content Lorem ipsum dolor sit amet,
      | consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  .zi-collapse
    .zi-collapse-title
      h3 Question A
      i.zi-icon-plus
  br

br
.zi-example
  span html code:
  br
  :marked
    ```html
    <div class="zi-collapse">
      <div class="zi-collapse-title">
        <h3>Question A</h3>
        <i class="zi-icon-minus"></i>
      </div>
      <p class="zi-collapse-content">Lorem ipsum dolor sit amet...</p>
    </div>
    ```
