br
h3#fieldsets Fieldsets
.zi-card
  p.zi-comment Normal
  .zi-fieldset
    .zi-fieldset-content
      h1 The Evil Rabbit Jumped over the Fence
      h2 The Evil Rabbit Jumped over the Fence
    .zi-fieldset-footer
      p The Evil Rabbit Jumped over the Fence
      button.zi-btn.mini.auto.primary Action
  br
  p.zi-comment Disabled
  .zi-fieldset.disabled
    .zi-fieldset-content
      h1 The Evil Rabbit Jumped over the Fence
      h2 The Evil Rabbit Jumped over the Fence
    .zi-fieldset-footer
      p The Evil Rabbit Jumped over the Fence
      button.zi-btn.mini.auto.primary Action
  br

br
.zi-example
  span html code:
  br
  :marked
    ```html
    <div class="zi-fieldset">
      <div class="zi-fieldset-content">
        <h1>The Evil Rabbit Jumped over the Fence</h1>
        <h2>The Evil Rabbit Jumped over the Fence</h2>
      </div>
      <div class="zi-fieldset-footer">
        <p>The Evil Rabbit Jumped over the Fence</p>
        <button clsss="zi-btn mini auto primary">Action</button>
      </div>
    </div>

    <div class="zi-fieldset disabled">
      <div class="zi-fieldset-content">
        <h1>The Evil Rabbit Jumped over the Fence</h1>
        <h2>The Evil Rabbit Jumped over the Fence</h2>
      </div>
      <div class="zi-fieldset-footer">
        <p>The Evil Rabbit Jumped over the Fence</p>
        <button class="zi-btn mini auto primary">Action</button>
      </div>
    </div>
    ```

