br
h3#footnote Footnote
.zi-card
  p Specification of&nbsp
    a.zi-footnote(href='//en.wikipedia.org/wiki/Interface' target='_blank') interface
      i.zi-icon-footnote

br
.zi-example
  span html code:
  br
  :marked
    ```html
    <p>Specification of
      <a class="zi-footnote" href="...">interface <i class="zi-icon-footnote"></i></a>
    </p>
    ```
