br
h3#more More
.zi-card
  p
    .zi-more
      button.zi-btn.circular.small.auto Show More #[i.suffix.zi-icon-up]
  br
  p
    .zi-more
      button.zi-btn.circular.small.auto Show Less #[i.suffix.zi-icon-down]

br
.zi-example
  span html code:
  br
  :marked
    ```html
    <div class="zi-more">
      <button class="zi-btn circular small auto">
        Show More
        <i class="suffix zi-icon-up"></i>
      </button>
    </div>

    <div class="zi-more">
      <button class="zi-btn circular small auto">
        Show More
        <i class="suffix zi-icon-down"></i>
      </button>
    </div>
    ```
