br
h3#note Note
.zi-card
  p.zi-comment Default note
  .zi-note
    | #[span.zi-note-type NOTE:]
    | This is a note that details something important.
    br
    | #[a(href='#') A link to helpful information.]
  br
  p.zi-comment Hint note
  .zi-note.hint
    | #[span.zi-note-type Hint:] This is a hint for something that is possible.
  br
  p.zi-comment Alert note
  .zi-note.alert
    | #[span.zi-note-type Alert:] This is an alert for something to take action for.
  br
  p.zi-comment Error note
  .zi-note.error
    | #[span.zi-note-type Error:] This is a error for something very important.
  br
  p.zi-comment Hidden label
  .zi-note Just a quick note!
  p

br
.zi-example
  span html code:
  br
  :marked
    ```html
    <p class="zi-note"> <span class="zi-note-type">NOTE:</span> This is a ...</p>
    <p class="zi-note hint"> <span class="zi-note-type">HINT:</span> This is a ...</p>
    <p class="zi-note alert"> <span class="zi-note-type">ALERT:</span> This is a ...</p>
    <p class="zi-note error"> <span class="zi-note-type">ERROR:</span> This is a ...</p>

    <p class="zi-note">Just a quick note!</p>
    ```
