br
h3#pagination Pagination
.zi-card
  p.zi-comment Default pagination
  .zi-pagination-container
    span.zi-pagination-left
      i.suffix.zi-icon-left
    div.zi-pagination
      span.zi-num 1
      span.zi-num ...
      span.zi-num 3
      span.zi-num 4
      span.zi-num 5
      span.zi-num 6
      span.zi-num 7
      span.zi-num ...
      span.zi-num 50
    span.zi-pagination-right >
