br
h3#popover Popover
p.zi-comment default popover
.zi-card(style='height: 210px;')
  .zi-popover
    span.zi-popover-host
      button.zi-btn.small popover
    .zi-popover-dropdown.center
      .zi-popover-item.nohover #[span.title Team List]
      .zi-popover-item.line.nohover
      .zi-popover-item Team A
      .zi-popover-item Team B

br
.zi-example
  span html code:
  br
  :marked
    ```html
    <div class="zi-popover">
      <span class="zi-popover-host">
        <button class="zi-btn small">popover</button>
      </span>
      <div class="zi-popover-dropdown center">
        <div class="zi-popover-item nohover">
          <span class="title">Team List</span>
        </div>
        <div class="zi-popover-item line nohover"></div>
        <div class="zi-popover-item">Team A</div>
        <div class="zi-popover-item">Team B</div>
      </div>
    </div>
    ```



