br
h3#progress Progress
.zi-card
  p.zi-comment Empty
    div.zi-progress-bar
      div.zi-progress
        div.zi-progress__inner
      span.zi-progress__text 0

  br
  p.zi-comment active
    div.zi-progress-bar.top
      div.zi-progress.top
        div.zi-progress__inner(style="width: 50%")
      span.zi-progress__text 50

br
.zi-example
  span html code:
  br
  :marked
    ```html
    <div class="zi-progress-bar">
      <div class="zi-progress">
        <div class="zi-progress__inner"></div>
      </div>
      <span class="zi-progress__text">0</span>
    </div>

    <div class="zi-progress-bar">
      <div class="zi-progress">
        <div class="zi-progress__inner" style="width: 50%"></div>
      </div>
      <span class="zi-progress__text">50</span>
    </div>
    ```
