br
h3#radio Radio
.zi-card
  p.zi-comment Normal
  p
    span.zi-radio
  br
  p.zi-comment Checked
  p
    span.zi-radio.checked
  br
  p.zi-comment Disabled
  p
    span.zi-radio.disabled
  br
  p.zi-comment Checked disabled
  p
    span.zi-radio.checked.disabled

br
.zi-example
  span html code:
  br
  :marked
    ```html
    <span class="zi-radio"></span>
    <span class="zi-radio checked"></span>
    <span class="zi-radio disabled"></span>
    <span class="zi-radio checked disabled"></span>
    ```

br
p.zi-comment Radio label
.zi-card
  label.zi-radio-container
    span.zi-radio
    input(class="zi-radio-original" type="radio" )
    span.zi-radio-label Label1

br
.zi-example
  span html code:
  br
  :marked
    ```html
    <span class="zi-radio-container">
      <span class="zi-radio"></span>
      <input class="zi-radio-original" type="radio">
      <span class="zi-radio-label">Label1</span>
    </span>
    ```
