br
h3#rate Rate
.zi-card
  p.zi-comment Empty
  .zi-rate
    i.zi-rate-star.zi-icon-star-off
    i.zi-rate-star.zi-icon-star-off
    i.zi-rate-star.zi-icon-star-off
    i.zi-rate-star.zi-icon-star-off
    i.zi-rate-star.zi-icon-star-off

  p.zi-comment Active
  .zi-rate
    i.zi-rate-star.zi-icon-star.active
    i.zi-rate-star.zi-icon-star.active
    i.zi-rate-star.zi-icon-star.active
    i.zi-rate-star.zi-icon-star.active
    i.zi-rate-star.zi-icon-star.active

br
.zi-example
  span html code:
  br
  :marked
    ```html
    <div class="zi-rate">
      <i class="zi-rate-star zi-icon-star-off"></i>
      <i class="zi-rate-star zi-icon-star-off"></i>
      <i class="zi-rate-star zi-icon-star-off"></i>
      <i class="zi-rate-star zi-icon-star-off"></i>
      <i class="zi-rate-star zi-icon-star-off"></i>
    </div>

    <div class="zi-rate">
      <i class="zi-rate-star zi-icon-star active"></i>
      <i class="zi-rate-star zi-icon-star active"></i>
      <i class="zi-rate-star zi-icon-star active"></i>
      <i class="zi-rate-star zi-icon-star active"></i>
      <i class="zi-rate-star zi-icon-star active"></i>
    </div>
    ```
