br
h3 Select

.zi-card
  p.zi-comment Normal
  select.zi-select
    option First option
    option Second option
  br
  p.zi-comment small
  select.zi-select.small
    option First option
    option Second option
  p

br
.zi-example
  span html code:
  br
  :marked
    ```html
    <select class="zi-select">
      <option>First option</option>
      <option>Second option</option>
    </select>

    <select class="zi-select small">
      <option>First option</option>
      <option>Second option</option>
    </select>
    ```
