br
h3#spinner Spinner

.zi-card
  .zi-spinner
    .zi-spinner-container
      .zi-spinner-bar
      .zi-spinner-bar
      .zi-spinner-bar
      .zi-spinner-bar
      .zi-spinner-bar
      .zi-spinner-bar
      .zi-spinner-bar
      .zi-spinner-bar
      .zi-spinner-bar
      .zi-spinner-bar
      .zi-spinner-bar
      .zi-spinner-bar


