br
h3#switcher Switcher

.zi-card
  .zi-switcher
    a Gitlab
    a.active Github

br
.zi-example
  span html code:
  br
  :marked
    ```html
    <div class="zi-switcher">
      <a>Gitlab</a>
      <a class="active">Github</a>
    </div>
    ```

