br
h3 Table
.zi-card
  table.zi-table(style='margin: 20px 0;')
    thead
      tr
        th
        th NAME
        th USERNAME
    tbody
      tr
        td
          img.zi-avatar(src='https://zeit.co/api/www/avatar/?u=evilrabbit&s=240')
        td Evil Rabbit
        td evilrabbit
      tr
        td
          img.zi-avatar(src='https://zeit.co/api/www/avatar/?u=evilrabbit&s=240')
        td Evil Rabbit
        td evilrabbit

br
.zi-example
  span html code:
  br
  :marked
    ```html
    <table class="zi-table">
      <thead>
        <tr>
          <th></th>
          <th>NAME</th>
          <th>USERNAME</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><img class="zi-avatar" src="..."></td>
          <td>Evil Rabbit</td>
          <td>evilrabbit</td>
        </tr>
        <tr>
          <td><img class="zi-avatar" src="..."></td>
          <td>Evil Rabbit</td>
          <td>evilrabbit</td>
        </tr>
      </tbody>
    </table>
    ```

