br
h3 Toast
.zi-card
  .zi-toast-area
    .zi-toast-container
      .zi-toast.danger
        .message The Evil Rabbit jumped over the fenceThe Evil Rabbit
        .zi-btn.small.auto.primary action
    .zi-toast-container
      .zi-toast
        .message The Evil Rabbit jumped over the fenceThe Evil Rabbit
        .zi-btn.small.auto.primary action
    .zi-toast-container
      .zi-toast
        .message The Evil Rabbit jumped over the fenceThe Evil Rabbit
        .zi-btn.small.auto.primary action
