br
h3#toggle Toggle
.zi-card
  p.zi-comment(style='margin-bottom: 4px') Normal
  .zi-toggle
  p.zi-comment(style='margin-top: 30px; margin-bottom: 4px') Checked
  .zi-toggle.checked
  p.zi-comment(style='margin-top: 30px; margin-bottom: 4px') Disabled
  .zi-toggle.disabled
  p.zi-comment(style='margin-top: 30px; margin-bottom: 4px') Checked disabled
  .zi-toggle.disabled.checked
  P

br
.zi-example
  span html code:
  br
  :marked
    ```html
    <div class="zi-toggle"></div>
    <div class="zi-toggle checked"></div>
    <div class="zi-toggle disabled"></div>
    <div class="zi-toggle checked disabled"></div>
    ```
