@import "../../styles/methods.styl"

.ex-layout
  display flex
  max-width 900px
  margin 0 auto
  padding-top 50px

.ex-content
  display flex
  flex 1
  flex-direction column

.ex-content
  +layout(xs)
    width 100%
    flex 1
  +layout(sm)
    width 100%
    flex 1

