@import "../../styles/vars/index.styl"
@import "../../styles/responsive.styl"

.ex-layout
  display flex
  max-width 1100px
  margin 0 auto

.ex-content
  display flex
  flex-direction column


.ex-content
  +layout(xs)
    width 100%
    flex 1
  +layout(sm)
    width 100%
    flex 1
