@import "../../styles/vars/index.styl"
@import "../../styles/responsive.styl"

.ex-side
  display flex
  min-width 200px

.ex-side-content
  position fixed
  width 170px

  a
    color black
    font-size 14px

  li
    list-style none
    &:before
      content ''

  ul
    margin-left 0


.ex-side, .ex-side-content
  +layout(xs)
    display none
    min-width 0
    width 0
  +layout(sm)
    min-width 100px
    width 100px
