@import "../../styles/vars/index.styl"
@import "../../styles/responsive.styl"

.ex-side
  display flex
  min-width 200px

.ex-side-content
  position fixed
  width 185px
  overflow-y auto
  overflow-x hidden
  height calc(100% - 10vh)
  -ms-overflow-style none

  &::-webkit-scrollbar
    width: 0 !important
    display none !important

  a
    color black
    font-size 14px

  li
    list-style none
    &:before
      content ''

  ul
    margin-left 0


.ex-side, .ex-side-content
  +layout(xs)
    display none
    min-width 0
    width 0
  +layout(sm)
    min-width 100px
    width 100px
