br
h3#cards Cards
p.zi-comment A basic display block

.zi-card
  h4 a light card
br
.zi-card.zi-dark
  h4 a dark card
br
.zi-example
  span html code:
  br
  :marked
    ```html
    <div class="zi-card">
      <h4>a light card</h4>
    </div>
    <div class="zi-card zi-dark">
      <h4>a dark card</h4>
    </div>
    ```
