br
h3#cards Cards

.zi-card
  h4 An open-source design system for building modern websites and applications.
br
.zi-card.zi-dark
  h4 An open-source design system for building modern websites and applications.
br
.zi-card.pin
  h4 A pin card
br
.zi-example
  span html code:
  :marked
    ```html
    <div class="zi-card">
      <h4>An open-source design system for building modern websites and applications.</h4>
    </div>
    <div class="zi-card zi-dark">
      <h4>An open-source design system for building modern websites and applications.</h4>
    </div>
    <div class="zi-card pin">
      <h4>a dark card</h4>
    </div>
    ```
