br
h3#headings Headings
p.zi-comment H1 - H4 Headings, when we implement fonts and styles, we also optimize it in some detail.
.zi-card
  h1 The Evil Rabbit Jumped over the Fence
  h2 The Evil Rabbit Jumped over the Fence
  h3 The Evil Rabbit Jumped over the Fence
  h4 The Evil Rabbit Jumped over the Fence
br
.zi-card.zi-dark
  h1 The Evil Rabbit Jumped over the Fence
  h2 The Evil Rabbit Jumped over the Fence
  h3 The Evil Rabbit Jumped over the Fence
  h4 The Evil Rabbit Jumped over the Fence
br
.zi-example
  span html code:
  br
  :marked
    ```html
    <h1>The Evil Rabbit Jumped over the Fence</h1>
    <h2>The Evil Rabbit Jumped over the Fence</h2>
    <h3>The Evil Rabbit Jumped over the Fence</h3>
    <h4>The Evil Rabbit Jumped over the Fence</h4>
    ```

p.zi-comment subheading
.zi-card
  span.zi-subheading THE EVIL RABBIT JUMPED OVER THE FENCE

br
.zi-example
  span html code:
  br
  :marked
    ```html
    <span class="zi-subheading">THE EVIL RABBIT JUMPED OVER THE FENCE</span>
    ```
