br
h3 Paragraphs
.zi-card
  p.zi-comment Regular
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit,
    | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  br

  p.zi-comment Bold
  p.zi-bold Lorem ipsum dolor sit amet, consectetur adipiscing elit,
    | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

br
.zi-card.zi-dark
  p.zi-comment Dark Background
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit,
    | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

br
.zi-example
  :marked
    span html code:
    ```html
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
    <p class="zi-bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>

    <div class="zi-card zi-dark">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
    </div>
    ```
