br
h3#paragraphs Paragraphs
p Default
.zi-card
  p Regular
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit,
    | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  br

  p Bold
  b Lorem ipsum dolor sit amet, consectetur adipiscing elit,
    | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

br
.zi-example
  :marked
    span html code:
    ```html
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
    <b>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</b>
    ```

br
p Helpful
.zi-card
  p comment text
br
.zi-example
  span html code:
  :marked
    ```html
    <p class="zi-comment">comment text</p>
    ```
