h3 Start
p you need import style in your project:
:marked
  ```js
  import '@zeit-ui/style'
  ```
p in a simpler way, you can also use link of css: #[a(href='https://cdn.jsdelivr.net/npm/@zeit-ui/style@latest/dist/style.css' target='_blank') jsdelivr cdn].
  br
  | add class name to #[code body] element will start the using:
:marked
  ```html
  <body class="zi-main zi-layout"></body>
  ```

<br/>
h4 * dark theme (optional)
p(style='margin-top: -15px;') * the dark theme need add class name #[code zi-dark-theme] to html tag:
:marked
  ```html
  <html class="zi-dark-theme">
  ...
  </html>
  ```

