b 1. Install:
pre.zi-bash npm i @geist-ui/style

b 2. Import to project:
:marked
  ```js
  import '@geist-ui/style'
  ```

b 3. In a simpler way, you can also use link of CDN: #[a(href='https://cdn.jsdelivr.net/npm/@geist-ui/style@latest/dist/style.css' target='_blank') jsdelivr cdn]

br
h4 * Dark theme (optional)
small * The dark theme need add class name #[a(href="javascript:;" onclick="toggleTheme()") dark-theme] to html tag:
:marked
  ```html
  <html class="dark-theme">
  ...
  </html>
  ```

