h3 Start
p you need import style in your project:
:marked
  ```js
  import '@zeit-ui/style'
  ```
p in a simpler way, you can also use link of css: #[a(href='' target='_blank') zeit-style cdn].
  br
  | add class name to #[code body] element will start the using:
:marked
  ```html
  <body class="zi-main zi-layout"></body>
  ```
